.container {
    display: flex;
    flex-flow:wrap;
    min-width: 1024px;
    min-height: 1024px;
    max-height: 1024px;
    max-width: 1024px;
}
.pixel {
    background-color: black;
    border: 1px solid white;
}

.rabble {
    background-color: white;
    border: 1px solid black;
}